.avatar-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.avatar-pic {
    padding-right: 20px;
}

.self-intro {
    font-family: Geneva, serif;
    font-size: large;
}

.self-intro-bold {
    font-family: Geneva, serif;
    font-size: large;
    font-weight: bold;
}

.my-caption {
    font-family: Geneva, serif;
    color: rgb(128, 128, 128);
    font-style: italic;
}

.site-intro {
    font-family: Geneva, serif;
    font-weight: bolder;
    font-size: 20px;
    opacity: 0.8;
}
