@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.container {
    margin: auto;
    max-width: 100%;
    font-family: Josefin Sans, serif;
}

.heading {
    color: honeydew;
}

.container-global {
    background: white;
}

.icon-style {
    padding-left: 10px;
    padding-right: 10px;
}

.layout-copy {
    font-family: Josefin Sans, serif;
    font-weight: bold;
    color: rgb(128, 128, 128);
}
