@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.container {
    margin: auto;
    max-width: 100%;
    font-family: Josefin Sans, serif;
}

.heading {
    color: honeydew;
}

.icon-style {
    padding-left: 10px;
    padding-right: 10px;
}

.layout-copy {
    font-family: Josefin Sans, serif;
    font-weight: bold;
    color: rgb(128, 128, 128);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translatey(20px);
    }
    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

.fade-animation {
    animation: fade-in 1s ease-out forwards;
}
