@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.year-text {
    font-size: xx-large;
    font-family: Josefin Sans, serif;
}

.date-text {
    display: flex;
    align-items: center; /* 垂直居中 */
    font-size: large;
    font-family: Josefin Sans, serif;
    font-weight: bolder;
    margin-left: 0.5rem;
}

.info-text {
    display: flex;
    align-items: center; /* 垂直居中 */
    font-family: Josefin Sans, serif;
    font-weight: bolder;
}

.more-text {
    font-size: x-large;
    font-family: Josefin Sans, serif;
}
